body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: rgb(218, 224, 228);
    background-color: rgb(67, 145, 229);}

.position{
    position:fixed; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: antiquewhite;
    color: black; }



.Impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 75px;}

.declaration {
    background-color: rgb(4, 85, 16);
    color: rgb(180, 170, 157);
    border-style:solid; 
    border-radius: 2%;}

.video{
    text-align:center; 
    border-style:dotted; 
    border-radius: 7%;}

.history{
    background-color: darkorchid;
    font-family: 'Times New Roman', Times, serif;
}
